body {
    background-color: black;
}

h1 {
    color: white;
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
    text-align: center; 
}

a {
    color: Aquamarine;
    font-size: 16px;
}

p {
   text-align: center;  
}

h2 {
    color: white;
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
}

h4 {
    color: Gray;
    font-family: Verdana;
    font-size: 21px;
    text-align: center;    
}

.footer {
    color: gray;
    text-align: right;
}